.aboutContainer{
    display: flex;
    position: relative;
    align-items: center;
  justify-content: center;
    text-align: left;
    flex-direction: column;
    /* width: 100%; */
    /* height: 100%; */
    
    font-family: Futura, Arial, sans-serif;
    right: 0;
    padding-top: 5rem;
    /* z-index: 0; */
 
    z-index:1;
    word-wrap: break-word;

}

.aboutContentContainer{
    min-width: 200px;
    max-width: 1240px;
       margin: 0 7rem 0;
}

.aboutContainer h1{
    font-size: 3.5em;
    margin: 0;
    /* font-family:  'Times New Roman', serif; */
    display: inline;
    /* margin-right: 10px; */
    /* font-weight: bold; */
    font-weight: lighter;

    
    
}
.linkOut a{
    font-family: Futura, Arial, sans-serif;
    text-decoration: none;
    color: rgb(41, 41, 41);
    z-index: 5;
    display: inline-block;
    position: relative;
    animation: fadein 4s;
    transition: 1s;
    font-weight: 500;
    margin: none;
    padding:none;
}

.linkOut a:hover{
    /* text-decoration: none; */
    /* background-color: black; */
    color: #ff0080;
    z-index: 5;
    display: inline-block;
    position: relative;
    animation: fadein 4s;
    transition: 1s;
}
.textBlockReco b{
    font-size: 1rem;
    font-weight: lighter;
}


.textBlock{
    
    font-size: 1em;
    float: left;
    display: inline-block;
    padding-bottom: 2rem;
    width: 80%;
    min-width: 200px;
    max-width: 1000px;
}

.textBlockReco{
    font-size: 3em;
    float: left;
    display: block;
    /* margin-left: 5rem; */
    padding: 4rem 0 2rem;
    width: 90%;
    min-width: 200px;
    max-width: 700px;
    /* font-weight: bold; */
}



.textBlockC2{
    width: 70%;
    display: block;
    position: static;
    float: right;
    /* margin-left: 10rem; */
    min-width: 200px;
    max-width: 1000px;
    font-size: 1.2em;
    /* padding-left: 20%; */
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.linkOut{
    /* font-weight: bold; */
    /* color: rgb(100, 100, 100); */
    animation: fadein 3s;
}



@media only screen and (max-width: 768px) {
    .aboutContainer{
        /* display: inline-block; */
        position: relative;
        align-items: center;
      justify-content: center;
        text-align: left;
        /* width: 100%;
        height: 100%; */
        
        animation: fadein 2s;
        right: 0;
        padding-top: 2rem;
        /* z-index: 0; */
        margin-left: 1.5rem;
        
    
    }

    .aboutContentContainer{
        margin: 0 1rem 0;
    }
    .aboutContainer h1{
        font-size: 2.5em;
       
        
    }

    .textBlock{
        /* font-size: 14px; */
        font-size: 1em;
        float: left;
        display: inline-block;
        /* margin-left: 5rem; */
        padding-bottom: 2rem;
        width: 80%;
        min-width: 200px;
        /* font-weight: bold; */
        /* z-index: 5; */
    }
    
    .textBlockReco{
        font-size: 2em;
        float: left;
        display: block;
        /* margin-left: 5rem; */
        padding-bottom: 2rem;
        width: 80%;
        min-width: 200px;
       animation: fadein 4s;
        /* font-weight: bold; */
    }

    .textBlockC2{
        width: 90%;
        display: block;
        position: static;
        float: right;
        /* margin-left: 10rem; */
        min-width: 200px;
        max-width: 1000px;
        font-size: 1.2em;
        /* padding-left: 20%; */
    }
}


