.aboutContainer{
    /* display: inline-block; */
    position: relative;
    align-items: center;
  justify-content: center;
    text-align: left;
    /* width: 100%;
    height: 100%; */
    
    
    right: 0;
    padding-top: 2rem;
    /* z-index: 0; */
    margin-left: 5rem;
    z-index:10;
    

}
p{
    /* margin: 0; */
}
.aboutContainer h1{
    font-size: 4em;
    margin: 0;
    /* font-family:  'Times New Roman', serif; */
    display: inline;
    margin-right: 10px;
    /* font-weight: bold; */
    font-weight: lighter;
}
a{
    text-decoration: none;
    color: rgb(41, 41, 41);
    z-index: 5;
    display: inline-block;
    position: relative;
    animation: fadein 4s;
    transition: 1s;
    font-weight: 500;
}

a:hover{
    /* text-decoration: none; */
    /* background-color: black; */
    color: #ff0080;
    z-index: 5;
    display: inline-block;
    position: relative;
    animation: fadein 4s;
    transition: 1s;
}
.textBlockReco b{
    font-size: 1.5rem;
    font-weight: lighter;
}

.textBlock  b{
    font-size: 1.5rem;
    font-weight: lighter;
}
.textBlock{
    
    font-size: 1em;
    float: left;
    display: inline-block;
    padding-bottom: 2rem;
    width: 60%;
    min-width: 200px;
}

.textBlockReco{
    font-size: 0.9em;
    float: left;
    display: block;
    /* margin-left: 5rem; */
    padding-bottom: 2rem;
    width: 60%;
    min-width: 200px;
    max-width: 700px;
    /* font-weight: bold; */
}
.textBlockReco p{
    font-size: 1em;
    animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.linkOut{
    /* font-weight: bold; */
    color: rgb(100, 100, 100);
    animation: fadein 3s;
}



@media only screen and (max-width: 768px) {
    .aboutContainer{
        /* display: inline-block; */
        position: relative;
        align-items: center;
      justify-content: center;
        text-align: left;
        /* width: 100%;
        height: 100%; */
        
        animation: fadein 2s;
        right: 0;
        padding-top: 2rem;
        /* z-index: 0; */
        margin-left: 1.5rem;
        
    
    }

    .textBlock{
        /* font-size: 14px; */
        font-size: 1em;
        float: left;
        display: inline-block;
        /* margin-left: 5rem; */
        padding-bottom: 2rem;
        width: 80%;
        min-width: 200px;
        /* font-weight: bold; */
        /* z-index: 5; */
    }
    
    .textBlockReco{
        font-size: 0.9em;
        float: left;
        display: block;
        /* margin-left: 5rem; */
        padding-bottom: 2rem;
        width: 80%;
        min-width: 200px;
       animation: fadein 4s;
        /* font-weight: bold; */
    }
}


