@import'../base.scss';

.aboutContainer{
    display: flex;
    position: relative;
    align-items: center;
  justify-content: center;
    text-align: left;
    flex-direction: column;
     width: 100vw; 
    /* height: 100%; */
    
    font-family: Futura, Arial, sans-serif;
    right: 0;
    
    /* z-index: 0; */
    margin-top: 10em;
    z-index:1;
    word-wrap: break-word;
    color:$primeTextColor;
}

.aboutContentContainer{
    // min-width: 200px;
    // width:100%;
    width: auto;
    max-width: 1240px;
    position: relative;
    margin: 2rem 7rem 0;
}

.aboutContainer h1{
    font-size: 3.5em;
    margin: 0;
    /* font-family:  'Times New Roman', serif; */
    display: inline;
    /* margin-right: 10px; */
    /* font-weight: bold; */
    font-weight: lighter;

    
    
}
.linkOut a{
    font-family: Futura, Arial, sans-serif;
    text-decoration: none;
    color: $linkColor;
    z-index: 5;
    display: inline-block;
    position: relative;
    animation: fadein 4s;
    transition: 1s;
    font-weight: 500;
    margin: none;
    padding:none;
}

.linkOut a:hover{
    /* text-decoration: none; */
    /* background-color: black; */
    color: $linkHoverColor;
    z-index: 5;
    display: inline-block;
    position: relative;
    animation: fadein 4s;
    transition: 1s;
}
.textBlockReco b{
    font-size: 1rem;
    font-weight: lighter;
}


.textBlock{
    
    font-size: 1em;
    float: left;
    display: inline-block;
    padding-bottom: 2rem;
    width: 90%;
    min-width: 200px;
    max-width: 1000px;
}

.textBlockReco{
    font-size: 3em;
    float: left;
    display: block;
    /* margin-left: 5rem; */
    padding: 4rem 0 2rem;
    width: 90%;
    min-width: 200px;
    max-width: 700px;
    /* font-weight: bold; */
}



.textBlockC2{
    width: 70%;
    display: block;
    position: static;
    float: right;
    /* margin-left: 10rem; */
    min-width: 200px;
    max-width: 1000px;
    font-size: 1.2em;
    /* padding-left: 20%; */
    padding-bottom: 6em;
}

.textBlockC2 p{
    margin: 40px 0;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.linkOut{
    /* font-weight: bold; */
    /* color: rgb(100, 100, 100); */
    animation: fadein 3s;
}

.decoContainer{
    width: 100%;
    
}

.decoTextTop{
    padding: 0em 5%;
    margin: none;
    writing-mode: vertical-rl;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* letter-spacing: 1px; */
    
    right: 5%;
    font-size: 2em;
    float: right;
    // position: fixed;
    // right: 5%;
}

.decoTextBottom{
    padding: 5em 10% 5em;
    margin: none;
    writing-mode: vertical-rl;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    // right: 0;
    float: right;
    font-size: 1.5em;
    height:230px;
    width: 100%;
    // position: fixed;
    // left: 5%;
    // bottom: 4%;
}

.ChineseText{
    padding: 5em 10% 5em;
    // margin: none;
    writing-mode: vertical-rl;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    // right: 105px;
    float: right;
    font-size: 1.5em;
    height:230px;
    width: 100%;
    // position: fixed;
    // left: 5%;
    // bottom: 4%;
}


@media only screen and (max-width: 768px) {
    .aboutContainer{
        /* display: inline-block; */
        position: relative;
        align-items: center;
      justify-content: center;
        text-align: left;
        /* width: 100%;
        height: 100%; */
        
        animation: fadein 2s;
        right: 0;
        padding-top: 0rem;
        /* z-index: 0; */
        margin-left: 1.5rem;
        
    
    }

    .aboutContentContainer{
        margin: 0 1rem 0;
        width: 100%;
    }
    .aboutContainer h1{
        font-size: 1.5em;
       
        
    }

    .textBlock{
        /* font-size: 14px; */
        font-size: 1em;
        float: left;
        display: inline-block;
        /* margin-left: 5rem; */
        padding-bottom: 2rem;
        width: 80%;
        // min-width: 200px;
        /* font-weight: bold; */
        /* z-index: 5; */
    }
    
    .textBlockReco{
        font-size: 2em;
        float: left;
        display: block;
        /* margin-left: 5rem; */
        padding-bottom: 2rem;
        width: 80%;
        min-width: 200px;
       animation: fadein 4s;
        /* font-weight: bold; */
    }

    .textBlockC2{
        width: 90%;
        display: block;
        position: static;
        float: right;
        /* margin-left: 10rem; */
        // min-width: 200px;
        max-width: 1000px;
        font-size: 1em;
         padding: 0 2rem; 
    }
    .decoTextTop{
        padding: 0em 1rem;
    
    }
    
    .decoTextBottom{
        padding: 0em 1rem;
    
    }
    .ChineseText{
        // padding: 4em 1.5em 0em;
        margin: none;
        writing-mode: vertical-rl;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        // right: 0;
        float: right;
        font-size: 1.2em;
        height:140px;
        width: 100%;
       
    }
    
}


