
@import'../base.scss';
.cardContainer{
    
    /* height:20vh; */
    /* display:inline-block; */
    position: relative;
    /* height: 30%; */
    min-width: 28%;
    width: 28%;
    /* height: auto; */
    /* background-color: rgb(29, 29, 29); */
    max-width: 1080px;
   padding: 1%;
    cursor: pointer;  
    margin: none;
    font-family: $mainTitileFont;
    /* padding-bottom: 50px; */
    /* margin-bottom: 50px; */
    
    /* display: inline-block; */
    /* padding: 0.5rem; */
    /* margin-right:15px;
    margin-bottom: 15px; */
    /* overflow: hidden; */
    /* animation: fadein 4s; */
  }

  .cardContainer:hover{
    /* padding:0 20px; */
    transition: 2s;
    z-index: 10;
    /* position: fixed; */
  }



  @media only screen and (max-width: 768px) {
    .cardContainer{
    
      /* height:20vh; */
      width: 100%;
      /* height: 210px; */
      /* background-color: #c9c9c9; */
      min-width: 250px;
      position: relative;
      cursor: pointer;  
      margin: none;
      /* padding-bottom: 50px; */
      /* margin-bottom: 50px; */
      /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
      /* display: inline-block; */
      /* padding: 5px; */
      /* overflow: hidden; */
      /* animation: fadein 4s; */
    }
  }

  .cardContainer:hover .overlay{
    /* background:rgb(0,0,0); */
    /* z-index: 10; */
    opacity: 1;
    transition: 0.5s; 
    

  }
  .cardContainer:hover .cardText{
      color:$hoverColor;
      // transform: scale(1.2);
      //  font-size: 3em;
      // margin:20px 0; 
       transition: 0.5s; 
  
  }

  .cardContainer:hover .eachImage{
   
    /* width: 120%; */
    
    transform: scale(1.2);
    transition: 1s;
    
    /* animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; */
    
  }

  .cardContainer:hover .textOverlay{
  /* background-color: rgb(255, 255, 255); */
  /* opacity: 0.8; */
  /* height: 100%; */
    transition: 2s;

  }
  .cardContainer:hover .cardCo {
    color: rgb(255, 255, 255);

  }

.imgContainer{
    overflow: hidden;
    position: relative;
    width: 100%;
    /* height: auto; */
    /* height: 100%; */
    /* object-fit: cover; */
    
    
}

.eachImage{
    width: 100%;
    /* height: 50%; */
    display: block;
    cursor: pointer;
    /* animation: fadein 2s; */
    transition: 2s;
    /* box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    
  }

  .overlay{
    /* overflow: visible; */
    position: absolute;
    top: 0;
    /* bottom: 0; */
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
  background-repeat: no-repeat;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url('/assets/GridImg/grid4.png');
  }
  .textOverlay{
      width: 80%;
      /* background: rgb(255, 253, 253); */
      perspective: 2000px;
      opacity: 1;
      position: absolute;
      /* top: 0; */
      bottom: 10%;
      left: 10%;
      /* right: 0; */
      text-align: left;
      /* padding-left: 8px; */
      transition: 2s;
  }
  .cardText {
    
   
    font-weight: bold;
    /* font-weight: normal; */
    /* display: none; */
    display: inline-block;
    /* position: absolute; */
    /* bottom: -1.2em; */
    /* left: 0.1em; */
    /* padding-right: 10px; */
    /* left: 1px; */
    font-size: 2.5em;
    margin: 5px 0 0;
    padding:0;
    /* padding: 0; */
    color: rgb(255, 255, 255);
    /* z-index: 1; */
    animation: fadein 5s;
    transition: 0.5s; 
  }


  .cardCo{
    margin:5px 0;
    font-size: 1em;
    font-weight: bold;
    color: #f3f3f3;
    transition: 0.5s; 
    /* font-size: 14px; */
    /* font-family: Times, 'Times New Roman', serif; */
    /* font-family: 'Courier New', Courier, monospace; */
 
  }

  .cardCate{
    font-size: 1em;
    // position: fixed;
    font-weight: bold;
    // margin: 0;
     visibility: hidden; 
    opacity: 0;
    // margin: -10px 0;
    max-height: 0px;
    /* font-weight: bold; */
    color: #f3f3f3;;
    /* font-family: 'Courier New', Courier, monospace; */
    /* visibility: hidden; */
    /* opacity:0;
    position: absolute; */
    // overflow: hidden;
    // display: none;
    // height: 0;
    transform: translateY(100%);
    transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .cardContainer:hover  .cardCate{
    color: rgb(255, 255, 255);
    visibility: visible; 
    opacity: 1;
    margin: 8px 0;
    transform: translateY(0%);
    
    max-height: 200px;
    // font-size: 1em;
    // position: relative;
    // height: auto;
    transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }

  @keyframes floating {
    from { transform: translate(0,  0px); }
    60%  { transform: translate(0px, -5px); }
    /* 80%  { transform: translate(0px, 5px); } */
    to   { transform: translate(0, -0px); }    
}