.menu{
    font-family:  "Roboto", 'Helvetica Neue', sans-serif,Helvetica, sans-serif;
    font-size: 1.3em;
    text-align: left;
    padding: 0.5rem 5rem;
    position: sticky;
    /* font-style: italic; */
    position: -webkit-sticky; 
    top:0;
    /* background: #ffffff; */
    z-index: 10;
    margin-top: 0.5em;
    /* display: inline-block; */
    /* display: inline-block; */
    /* position: absolute; */
    /* left: 10px; */
    
    /* float: none; */
    /* position: absolute; */
  

}



.menu a{
    color: rgb(99, 99, 99);
    transition: 1s;
}

.menu a:hover{
    color: #ff0080;
}

/* .menu a:hover{
    color: #ff0080;
} */
.myName{
    font-family:  'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    /* font-style: italic; */
    /* font-weight: lighter; */
    /* font-weight: 700; */
    font-size: 1.5em;
    word-spacing: -.2ch;
    /* display:inline; */
    /* text-decoration: none; */
}
.recent{
    font-size: 0.5em;
    vertical-align: text-top;
}

.menu  a.homeOn{
    /* color: white; */
    /* font-size: 1.1em; */
    /* word-spacing: 1ch; */
    display: inline-block;
    /* padding:0 1rem; */
    cursor: pointer;
    transition: 1s;
    opacity: 1;
    margin: 0;
    color: black;

    /* text-decoration: underline; */
    /* border-left: 2px  solid */
}


.menu a.aboutOn{
    color: rgb(0, 0, 0);
}

.about{
    font-size: 0.9em;
    display: inline-block;
    padding:0em 1rem 0;
    cursor: pointer;
    /* float: right; */
    /* bottom: 0; */
    
}



@media only screen and (max-width: 768px) {
    
    .menu{
        font-family:  "Roboto", 'Helvetica Neue', sans-serif,Helvetica, sans-serif;
        font-size: 1.3em;
        text-align: left;
        padding: 0rem 1.5rem;
        position: sticky;
        /* font-style: italic; */
        position: -webkit-sticky; 
        top:0;
        /* background: #ffffff; */
        z-index: 10;
        margin-top: 0.5em;
        /* display: inline-block; */
        /* display: inline-block; */
        /* position: absolute; */
        /* left: 10px; */
        
        /* float: none; */
        /* position: absolute; */
        
    
    }



}