.App {
  /* text-align: center; */
  width: 100%;
  height:100%;
  top:0;
  background-color: white;
  /* position: relative; */
}

a{
  padding: none;
  margin: none;  
  }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #7ee3ff;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.canvasContainer{
  position: fixed;
  display: inline-block;
  width: 100%;
  height: 100%;
  top:0;

  left:0;
  z-index: 1;
  /* overflow: hidden; */
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.goBack{
  padding: 15px 0px;
  text-align: left;
  /* display: inline-block; */
  /* position: absolute; */
  margin-top: 2rem;
  /* left:6rem;  */
  cursor: pointer;
  transition: 1s;
  animation: fadein 4s;
  /* opacity: 0.5; */
  width: 80px;
  /* height:60px; */
  background-color: #ff0080;
  color: black;
  position: fixed;
  z-index: 30;
  /* position: -webkit-sticky;  */
  /* top:0; */
  /* position: absolute; */
  
}

.goBackText{
  
}
.goBack:hover {
  color: #ff0080;
  opacity: 1;
  transition: 2s;

  /* transform: scale(1.2); */
 background-color: #000;

}

.goBack:hover .goBackIcon{
  background-color: #ff0080;
  opacity: 1;
  transition: 2s;
  

  /* transform: scale(1.2); */
 /* background-color: #000; */

}



.goBackIcon{
  width: 30px;
  height: 30px;
  
  /* mask-repeat: no-repeat; */
  /* background-size: contain; */
  /* mask-size: contain; */
  /* position: relative; */
  display: inline-block;
  border-radius:50% ;
  transition: 2s;
  cursor: pointer;
  text-align: center;
  margin: auto;
  vertical-align: middle;
  background-color: black;
  mask: url("/assets/icons/chevron-left.svg");
  -webkit-mask: url("/assets/icons/chevron-left.svg")center center;
  mask-position: center;
  /* -webkit-mask-size: 150% 150%; */
}

/* .goBackIcon:hover{ */
  /* opacity: 0.5;
  
  
  transition: 1s; */
/* } */
.gridContainer{
  position: relative;
  display:flex ;

   width: 100%;
   /* height: 600px;  */
  /* height: 30%; */
  /* margin: 0 3rem; */
  margin: 0 0 2rem;
  z-index: 2;
  
  /* justify-content: center; */
  /* margin-top: 10%; */
  /* min-height: 30%; */
  /* min-width: 300px; */
  

}
.gridSystem{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  margin-left: 5rem;
  margin-top: 2rem;
  
  /* align-items: center; */
  padding: none;
  animation: fadein 4s;
  /* height:150%; */
  /* width: 100%; */
  /* height: 500px;  */


}

.projectContentContainer{
  position: relative;
  background-color: white;
  /* margin-bottom: 5rem; */
  max-width: 4000px;
  /* top:10px; */
  /* height: 100vh; */
  z-index: 2;
  padding:10px 0;
  width: 100%;
  /* height: 100vh; */

}

.footer{
  margin-left: 8em;
  font-size: 10px;
  float: left;
  width: 60%;
  opacity: 0.6;
  /* color: #000; */
  animation: fadein 4s;
  /* bottom: 5px; */
  z-index: 30;
  /* color: #ff0080; */
  
}


@media only screen and (max-width: 768px) {
  .goBack{
    padding: 15px 0px;
    text-align: left;
    /* display: inline-block; */
    /* position: absolute; */
    /* margin: 3rem; */
    /* left:6rem;  */
    cursor: pointer;
    transition: 1s;
    animation: fadein 4s;
    /* opacity: 0.5; */
    width: 80px;
    /* height:60px; */
    background-color: #ff0080;
    color: black;
    position: fixed;
    z-index: 30;
    margin:0;
    
  }
  .gridSystem{
    margin:0 1.5em 0;
    margin-top: 3em;
    position: relative;
    display: flex;
    flex-wrap: wrap;
   

    align-items: center;
    /* justify-content: left; */
    flex-direction:column;
    padding: none;
    /* margin: none; */
    animation: fadein 4s;
  
  }
  .footer{
    margin-left: 2.5em;
    /* padding: 10px; */
    font-size: 10px;
    float: left;
    animation: fadein 4s;
    /* width: 100%; */
    display: block;
    animation: fadein 4s;
  }


}

