.App {
  /* text-align: center; */
  width: 100%;
  height:100%;
  top:0;
  background-color: white;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #7ee3ff;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.canvasContainer{
  position: fixed;
  display: inline-block;
  width: 100%;
  height: 100%;
  top:0;

  left:0;
  z-index: 1;
  /* overflow: hidden; */
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.goBack{
  padding: 15px 0px;
  text-align: left;
  /* display: inline-block; */
  /* position: absolute; */
  margin-top: 3rem;
  /* left:6rem;  */
  cursor: pointer;
  transition: 1s;
  animation: fadein 4s;
  /* opacity: 0.5; */
  width: 80px;
  /* height:60px; */
  background-color: #ff0080;
  color: black;
  position: fixed;
  z-index: 30;
  /* position: -webkit-sticky;  */
  /* top:0; */
  /* position: absolute; */
  
}

.goBackText{
  
}
.goBack:hover {
  color: #ff0080;
  opacity: 1;
  transition: 2s;
  /* transform: scale(1.2); */
 /* background-color: #000; */

}




.goBackIcon{
  width: 30px;
  height: 30px;
  
  /* mask-repeat: no-repeat; */
  /* background-size: contain; */
  /* mask-size: contain; */
  /* position: relative; */
  display: inline-block;
  border-radius:50% ;
  transition: 2s;
  cursor: pointer;
  text-align: center;
  margin: auto;
  vertical-align: middle;
  background-color: black;
  /* fill: #282c34; */
  mask: url("/portfolio/assets/icons/chevron-left.svg");
  -webkit-mask: url("/portfolio/assets/icons/chevron-left.svg")center center;
  mask-position: center;
  /* -webkit-mask-size: 150% 150%; */
}

.goBackIcon:hover{
  /* opacity: 0.5; */
  /* transform: scale(1.2);
  background-color: #ff0080;
  
  
  transition: 1s; */
}
.gridContainer{
  position: relative;
  display: flex;
  /* align-items: flex-start; */
  align-items: center;
  justify-content: right;
  /* height: 80vh; */
  /* width: 100%; */
  /* height: 100%; */
  /* margin: 0 3rem; */
  padding: 0 0 2rem;
  z-index: 2;
  /* margin-top: 10%; */
  /* min-height: 30%; */
  /* min-width: 300px; */
  /* padding: 10px; */

}
.gridSystem{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-left: 5em;
  margin-top: 3rem;
  
  /* padding-top: 50px; */
  /* min-width:750px; */
  /* overflow-y: auto; */
  /* height: 210px; */
  align-items: center;
  /* justify-content: center; */
  /* flex-direction:column; */
  padding: none;
  /* margin: none; */
  animation: fadein 4s;

}

.projectContentContainer{
  position: relative;
  background-color: white;
  /* width: max-content; */
  /* height: 100vh; */
  z-index: 2;

}